/*
 * comment form
 */ 

.in-c-comment-form {

  // 

  &__inner {

    display: flex;
    align-items: flex-end;
    
  }

  &__comment-list {

    // 
    
  }

  &__input-text {

    // 

  }

  &__comments {

    flex: 1;
    padding: 0 2rem 0 0;

  }

  &__btn-set {

    // 

  }

}