/*
 * DataTables overrides
 */ 
 
table.dataTable thead th, 
table.dataTable thead td {

  @extend %th;

}

table.dataTable tbody th, 
table.dataTable tbody td {

  @extend %td;

  &.in-u-soft-pad { /* needs refactoring */

    padding: .5rem 5px;

  }

}

table.dataTable.no-footer {

  border-bottom: 0; 

}

/* hide "Showing..." text below table */

.dataTables_info {

  //display: none;

}

/* for "scroll body" tables (scrollable with max-height), reset border for bottom row since the container already has a bottom border */

.dataTables_scrollBody {

  tr:last-child td {

    border-bottom: 0;

  }

}

/* reset "border-top" value  */

table.dataTable.row-border tbody th, 
table.dataTable.row-border tbody td, 
table.dataTable.display tbody th, 
table.dataTable.display tbody td {

  border-top-width: 0;

}

/* reset zebra striping -- might want to handle this in JS */

table.dataTable.stripe tbody tr.odd, 
table.dataTable.display tbody tr.odd, 
table.dataTable.hover tbody tr:hover, 
table.dataTable.display tbody tr:hover, 
table.dataTable.display tbody tr:hover>.sorting_1, 
table.dataTable.order-column.hover tbody tr:hover>.sorting_1, 
table.dataTable.display tbody tr.odd>.sorting_1, 
table.dataTable.order-column.stripe tbody tr.odd>.sorting_1, 
table.dataTable.display tbody tr.even>.sorting_1, 
table.dataTable.order-column.stripe tbody tr.even>.sorting_1 {

  background-color: white; 

}

/* use custom up/down arrows for sortable columns */

table.dataTable thead .sorting_asc {

  background-image: url(../../assets/img/table-sort-arrow-asc-2x.png);
  background-size: 8px;
  background-position: right 5px center;

}

table.dataTable thead .sorting_desc {

  background-image: url(../../assets/img/table-sort-arrow-desc-2x.png);
  background-size: 8px;
  background-position: right 5px center;

}

table.dataTable thead .sorting {

  background-image: url(../../assets/img/table-sort-arrow-both-2x.png);
  background-size: 8px;
  background-position: right 5px center;

}

/* override inline "width" value for tables */

table.dataTable {

  width: 100% !important;
  // border: 1px solid red !important; 

}

/* adjust width of "length" element and <select> styling */

.dataTables_length {
  
  width: 50%; 
  margin: 0 0 1rem;

}

.dataTables_wrapper {
  
  //

  .in-c-select {

    width: auto;
    display: inline-block;

  }

}

/* adjust padding for element inserted by DataTables -- related to negative positioning of "in-c-table-wrapper" element when used inside of "in-l-box" layout */

.dataTables_length, 
.dataTables_filter {

  // 

  .in-l-box & {

    padding: 0 1rem;

  }

}

.dataTables_info, 
.dataTables_paginate {

  // 

  .in-l-box & {
  
    padding: 1rem;

  }

}

/* pagination */

.dataTables_wrapper {

  // 

  .dataTables_paginate {

    // 

  }

  .paginate_button {

    // 

    &.previous {

      // 

    }

    &.current {

      // 

    }

    &.next {

      // 

    }

    &.disabled {

      // 

    }

    &:hover {

      // 
      
    }

  }

}

/* expandable row */

td.details-control {

  /* cells include forground icon, so background image isn't needed */
  // background: url('../../assets/img/details_open.png') no-repeat center center;
  background-image: none;
  cursor: pointer;

}
tr.shown td.details-control {

  /* cells include forground icon, so background image isn't needed */
  // background: url('../../assets/img/details_close.png') no-repeat center center;
  background-image: none;

}

/* custom rules for active "details-control" elements */

td.in-js-active {

  border-width: 0 1px !important;

}

/* needs refactoring */

.in-js-active {

  //.in-c-btn {
  .details-control {

    background-color: #d9e7f4;

  }

}

tr.form-row > td, 
tr.comment-row > td {

  padding: 1rem !important;
  border-width: 0 0 1px !important;

}

.dataTables_wrapper.no-footer div.dataTables_scrollHead table.dataTable {

  th {

    border-bottom: 1px solid #111; /* matches default <thead> background color */

  }

}

/* override background color for selected rows */

table.dataTable tbody tr.selected, 
table.dataTable tbody tr.selected:hover {

  background-color: rgba(000,000,000,.05); // color should be in variable 

}

/* override styling for DataTables checkbox elements generated by DataTables */

table.dataTable tbody td.select-checkbox:before, 
table.dataTable tbody th.select-checkbox:before {

  // content: ' ';
  // margin-top: -6px;
  // margin-left: -6px;
  // border: 1px solid red;
  // border-radius: 3px;

  /* default "checkbox" component styles */

  border-color: #ddd;
  border-style: solid;
  border-width: .13em;
  content: '';
  position: absolute;
  left: 0;
  top: 50%;
  width: 1.5em;
  height: 1.5em;
  background: $in-white; 
  transform: translateY(-50%);

  /* override default "checkbox" component styles */

  left: calc(50% - 1PX); /* magic number -- vertically aligns DataTables checkbox with default "checkbox" component in <th> */

  /* overrides DataTables' styles */

  font-size: .8rem;
  border-radius: 0; 
  margin: 0 0 0 -9px;
  
}

table.dataTable tr.selected td.select-checkbox:after, 
table.dataTable tr.selected th.select-checkbox:after {

  // content: '\2714';
  // margin-top: -11px;
  // margin-left: -4px;
  // text-align: center;
  // text-shadow: 1px 1px #B0BED9, -1px -1px #B0BED9, 1px -1px #B0BED9, -1px 1px #B0BED9;

  /* default "checkbox" component styles */

  @include custom-property(border-color, --in-blue, $in-blue);
  content: "";
  width: .8em;
  height: 1.5em;
  border-style: solid;
  border-width: 0 5px 5px 0;
  position: absolute;
  left: .4em;
  top: calc(50% - .3em);
  transform: rotate(45deg) translateY(-50%) translateX(-50%); /* the translate values makes the checkmark vertically centered (in conjunction with the "top" declaration) */

  /* override default "checkbox" component styles */

  font-size: .8rem;
  left: calc(50% - 1px);         /* magic number -- vertically aligns DataTables checkbox with default "checkbox" component in <th> */
  top: calc(50% - .3em +  11px); /* magic number -- vertically aligns DataTables checkbox with default "checkbox" component in <th> */
  
}