/*
 * font
 */

.in-u-f-primary {

  font: $in-font-primary;

}

.in-u-f-primary-italic {

  font: $in-font-primary-italic;

}

// .in-u-f-primary-semibold {

//   font: $in-font-primary-semibold;

// }

.in-u-f-primary-bold {

  font: $in-font-primary-bold;

}
