/*
 * text
 */

.in-u-italic {

  font-style: italic;

}

.in-u-bold {

  font-weight: bold;

}

.in-u-center {

  text-align: center;

}

.in-u-right {

  text-align: right;

}

.in-u-nowrap {

  white-space: nowrap;

}

.in-u-slim-cell {

  width: 1px; /* keeps cell as slim as possible (width of content) */

}
