/*
 * radio
 */

.in-c-radio {

  //

  &__label {

    //
    
  }

  [type="radio"] + .in-c-radio__label {

    @extend %label;

  }

  [type="radio"]:not(:checked),
  [type="radio"]:checked {

    position: absolute;
    left: -9999px;

  }

  [type="radio"]:not(:checked) + label,
  [type="radio"]:checked + label {

    position: relative;
    padding-left: 1.95em;
    cursor: pointer; 
    margin: 0;

  }

  [type="radio"]:not(:checked) + .in-c-radio__label:before,
  [type="radio"]:checked + .in-c-radio__label:before {

    // @include custom-property(border-color, --in-light-gray, $in-light-gray);
    border-color: #ddd;
    border-style: solid;
    border-width: .13em;
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    width: 1.5em;
    height: 1.5em;
    background: #fff;
    transform: translateY(-50%);

    /* radio only */

    border-radius: 50%; 

  }

  [type="radio"]:checked + .in-c-radio__label:before {


    //

  }

  [type="radio"]:not(:checked) + .in-c-radio__label:after,
  [type="radio"]:checked + .in-c-radio__label:after {

    content: "";
    @include custom-property(background-color, --in-blue, $in-blue);
    @include custom-property(color, --in-blue, $in-blue);
    position: absolute;
    line-height: 0.8; /* magic number */
    border-radius: 50%;
    left: .1em;
    top: 50%;
    left: .13em;
    transform: translatey(-50%);
    // width: 1.25em; /* magic number */
    // height: 1.25em; /* magic number */
    width: 17px; /* magic number */
    height: 17px; /* magic number */


  }

  [type="radio"]:not(:checked) + .in-c-radio__label:after {

    opacity: 0;
    transform: scale(0);

  }

  [type="radio"]:checked + .in-c-radio__label:after {

    opacity: 1;

  }

  [type="radio"]:disabled:not(:checked) + .in-c-radio__label:before,
  [type="radio"]:disabled:checked + .in-c-radio__label:before {

    //

  }

  [type="radio"]:disabled:checked + .in-c-radio__label:after {

    @include custom-property(background-color, --in-gray, $in-gray);

  }

  [type="radio"]:disabled + .in-c-radio__label {

    cursor: not-allowed; 
    color: $in-medium-gray; 

  }

  [type="radio"]:checked:focus + .in-c-radio__label:before,
  [type="radio"]:not(:checked):focus + .in-c-radio__label:before {

    //

  }

  [type="radio"]:not(:checked):hover + .in-c-radio__label:before, 
  [type="radio"]:not(:checked):focus + .in-c-radio__label:before {

    //

  }

  [type="radio"]:not(:checked) + .in-c-radio__label:hover:before {

    //

  }

  [type="radio"]:disabled + .in-c-radio__label:hover:before {

    //

  }

}