//
// font size
//

// $in-font-size-giga :  44px;
// $in-font-size-mega :     38px;
// $in-font-size-kilo :     30px;
$in-font-size-alpha :    1.2rem;
$in-font-size-beta :     18px;
$in-font-size-gamma :    18px;
$in-font-size-delta :    16px;
$in-font-size-epsilon :  14px;
$in-font-size-zeta :     12px;
// $in-font-size-eta :      12px;
// $in-font-size-iota :     10px;

$in-font-size-default :  $in-font-size-epsilon;