<!doctype html>
<html lang="en" class="{{ html-class }}">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <link rel="stylesheet" href="../../assets/css/style.css?{{ cacheBuster }}" media="all" />
    <link rel="stylesheet" href="../../assets/css/pattern-scaffolding.css?{{ cacheBuster }}" media="all" />

    <!-- Modernizr must be in the <head> -->
    <script src="../../assets/js/libraries/modernizr.min.js"></script>

    <!--DO NOT REMOVE-->
    {{{ patternLabHead }}}
  
  </head>
  <body class="{{ body-class }}">

  <span id="top"></span>
